/*Multi value field, field selector*/
.multivaluefield {
  display: table;
  width: 100%;
  border: 2px solid #444;
  border-radius: 3px;
}

/*Rows (mvf sets)*/
.multivaluefield .row {
  position: relative;
  display: table-row;
}

.multivaluefield .row.selected {
  background-color: #ddd;
}

.multivaluefield .row::after {
  content: '\2717';
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 0;
  font-size: 25px;
}

.multivaluefield .row.selected::after {
  content: '\2714';
}

/*Fields*/
.multivaluefield .field {
  display: table-cell;
  padding: 10px 0px 10px 10px;
  border-bottom: 1px solid #444;
}

/*Field label and text*/
.multivaluefield .field > label, .multivaluefield .field > span {
  display: inline-block;
}

.multivaluefield .field > label::after {
  content: ':';
  padding: 0 5px;
}

