/**
 * Styling for Multi value field module.
 */

//Multi value field's field selector
.multivaluefield {
  display: table;
  width: 100%;
  border: 2px solid #444;
  border-radius: 3px;

  //Rows (mvf sets)
  .row {
    position: relative;
    display: table-row;

    //Selected rows
    &.selected {
      background-color: #ddd;
    }

    //Selected / unselected symbol.
    &::after {
      content: '\2717';
      display: inline-block;
      position: absolute;
      right: 10px;
      bottom: 0;
      font-size: 25px;
    }
    &.selected::after {
      content: '\2714';
    }
  }

  /*Fields*/
  .field {
    display: table-cell;
    padding: 10px 0px 10px 10px;
    border-bottom: 1px solid #444;

    /*Field label and text*/
    > label, > span {
      display: inline-block;
    }
    > label::after {
      content: ':';
      padding: 0 5px;
    }
  }
}


